In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cv2
from keras.preprocessing import image
from PIL import Image

Using TensorFlow backend.
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
from tensorflow.keras.models import load_model
model=load_model('dance_v2.h5')

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\keras\layers\core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [3]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_21 (Conv2D)           (None, 254, 254, 32)      896
_________________________________________________________________
max_pooling2d_21 (MaxPooling (None, 127, 127, 32)      0
_________________________________________________________________
conv2d_22 (Conv2D)           (None, 125, 125, 64)      18496
_________________________________________________________________
max_pooling2d_22 (MaxPooling (None, 62, 62, 64)        0
_________________________________________________________________
conv2d_23 (Conv2D)           (None, 60, 60, 64)        36928
_________________________________________________________________
max_pooling2d_23 (MaxPooling (None, 30, 30, 64)        0
_________________________________________________________________
conv2d_24 (Conv2D)           (None, 28, 28, 64)        36928
_________________________________________________________________
max_pooling2d_24 (MaxPooling (None, 14, 14, 64)        0
_________________________________________________________________
flatten_6 (Flatten)          (None, 12544)             0
_________________________________________________________________
dense_17 (Dense)             (None, 128)               1605760
_________________________________________________________________
activation_17 (Activation)   (None, 128)               0
_________________________________________________________________
dropout_12 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_18 (Dense)             (None, 64)                8256
_________________________________________________________________
activation_18 (Activation)   (None, 64)                0
_________________________________________________________________
dropout_13 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_19 (Dense)             (None, 64)                4160
_________________________________________________________________
activation_19 (Activation)   (None, 64)                0
_________________________________________________________________
dropout_14 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_20 (Dense)             (None, 8)                 520
_________________________________________________________________
activation_20 (Activation)   (None, 8)                 0
=================================================================
Total params: 1,711,944
Trainable params: 1,711,944
Non-trainable params: 0
_________________________________________________________________

In [4]:
test=pd.read_csv('test.csv')

In [5]:
test.head()

     Image
0  508.jpg
1  246.jpg
2  473.jpg
3  485.jpg
4  128.jpg

In [6]:
len(test)

156

In [7]:
x_test=test['Image'].values

In [8]:
x_test=list(x_test)

In [9]:
x_test

['508.jpg',
 '246.jpg',
 '473.jpg',
 '485.jpg',
 '128.jpg',
 '410.jpg',
 '465.jpg',
 '196.jpg',
 '340.jpg',
 '467.jpg',
 '306.jpg',
 '171.jpg',
 '323.jpg',
 '332.jpg',
 '330.jpg',
 '170.jpg',
 '479.jpg',
 '9.jpg',
 '283.jpg',
 '114.jpg',
 '507.jpg',
 '183.jpg',
 '200.jpg',
 '457.jpg',
 '264.jpg',
 '194.jpg',
 '518.jpg',
 '175.jpg',
 '64.jpg',
 '152.jpg',
 '270.jpg',
 '125.jpg',
 '38.jpg',
 '440.jpg',
 '302.jpg',
 '394.jpg',
 '448.jpg',
 '463.jpg',
 '20.jpg',
 '301.jpg',
 '28.jpg',
 '61.jpg',
 '398.jpg',
 '349.jpg',
 '271.jpg',
 '286.jpg',
 '431.jpg',
 '316.jpg',
 '224.jpg',
 '411.jpg',
 '278.jpg',
 '456.jpg',
 '45.jpg',
 '324.jpg',
 '6.jpg',
 '59.jpg',
 '86.jpg',
 '470.jpg',
 '374.jpg',
 '132.jpg',
 '216.jpg',
 '95.jpg',
 '17.jpg',
 '162.jpg',
 '346.jpg',
 '439.jpg',
 '232.jpg',
 '150.jpg',
 '401.jpg',
 '145.jpg',
 '23.jpg',
 '514.jpg',
 '193.jpg',
 '416.jpg',
 '447.jpg',
 '220.jpg',
 '505.jpg',
 '147.jpg',
 '210.jpg',
 '40.jpg',
 '284.jpg',
 '55.jpg',
 '378.jpg',
 '520.jpg',
 '484.jpg',
 '112.jpg',
 '360.jpg',
 '317.jpg',
 '71.jpg',
 '202.jpg',
 '92.jpg',
 '11.jpg',
 '67.jpg',
 '138.jpg',
 '506.jpg',
 '146.jpg',
 '318.jpg',
 '198.jpg',
 '375.jpg',
 '41.jpg',
 '421.jpg',
 '129.jpg',
 '14.jpg',
 '460.jpg',
 '34.jpg',
 '380.jpg',
 '238.jpg',
 '392.jpg',
 '80.jpg',
 '517.jpg',
 '13.jpg',
 '189.jpg',
 '390.jpg',
 '487.jpg',
 '438.jpg',
 '482.jpg',
 '206.jpg',
 '217.jpg',
 '285.jpg',
 '385.jpg',
 '495.jpg',
 '269.jpg',
 '429.jpg',
 '291.jpg',
 '461.jpg',
 '256.jpg',
 '48.jpg',
 '290.jpg',
 '437.jpg',
 '498.jpg',
 '173.jpg',
 '280.jpg',
 '119.jpg',
 '363.jpg',
 '97.jpg',
 '414.jpg',
 '386.jpg',
 '424.jpg',
 '157.jpg',
 '33.jpg',
 '354.jpg',
 '57.jpg',
 '108.jpg',
 '239.jpg',
 '441.jpg',
 '215.jpg',
 '373.jpg',
 '292.jpg',
 '110.jpg',
 '510.jpg',
 '275.jpg',
 '366.jpg',
 '226.jpg',
 '35.jpg',
 '458.jpg',
 '358.jpg']

In [10]:
dict={0:'bharatanatyam',
 1:'kathak',
 2:'kathakali',
 3:'kuchipudi',
 4:'manipuri',
 5:'mohiniyattam',
 6:'odissi',
 7:'sattriya'}

In [11]:
temp=[] #to save the names of dance forms
for i in x_test:
    img_path=('test/'+str(i))
    img = image.load_img(img_path, target_size=(256,256))
    img = image.img_to_array(img)
    img = np.expand_dims(img, axis=0)
    img = img/255
    prediction_prob = (model.predict(img))
    pred = list(prediction_prob[0])
    prd=pred.index(max(pred))
    final_dance=(dict.get(prd))
    temp.append(final_dance)

In [12]:
pred

[0.0, 2.9802322e-08, 0.0, 0.0, 0.0, 0.0, 0.0, 0.9999881]

In [87]:
temp=pd.DataFrame(temp,columns=['target'])
df=pd.concat([test,temp],axis=1)

In [88]:
df.head()

     Image         target
0  508.jpg         odissi
1  246.jpg   mohiniyattam
2  473.jpg         odissi
3  485.jpg         odissi
4  128.jpg  bharatanatyam

In [89]:
df.to_csv('submission.csv',index=False)